<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>990082591722-gse4jqpmhr82u4diuipneudehqb0pl3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990082591722-gse4jqpmhr82u4diuipneudehqb0pl3r</string>
	<key>API_KEY</key>
	<string>AIzaSyDaB7b-Zz3-jHUITZa338Ux-6M-ISVT76g</string>
	<key>GCM_SENDER_ID</key>
	<string>990082591722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spersio.Venting</string>
	<key>PROJECT_ID</key>
	<string>venting-a3ee7</string>
	<key>STORAGE_BUCKET</key>
	<string>venting-a3ee7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:990082591722:ios:7af7b9be5e2e3fed</string>
	<key>DATABASE_URL</key>
	<string>https://venting-a3ee7.firebaseio.com</string>
</dict>
</plist>